      <!-- Modal -->
      <div class="modal fade" id="editNotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <form class="needs-validation" novalidate>
                                <div class="form-row">
                                  <div class="col-md-4 mb-3">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome"  ng-model="vm.alunosEdit.nome" required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" ng-model="vm.alunosEdit.email" required>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <label for="validationCustomUsername">Nota1</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" id="nota1" ng-model="vm.alunosEdit.nota1" required>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                   <div class="col-md-4 mb-3">
                                        <label for="validationCustomUsername">Nota2</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="nota2" ng-model="vm.alunosEdit.nota2" required>
                                            </div>
                                   </div>
                                   <div class="col-md-4 mb-3">
                                        <label for="validationCustomUsername">Nota3</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" id="nota3" ng-model="vm.alunosEdit.nota3" required>
                                        </div>
                                    </div>
                                </div>                           
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button ng-click="vm.updateNotes($index,vm.alunosEdit)" class="btn btn-primary">Editar</button>
                </div>
              </form>
              </div>
            </div>
          </div>