<div ng-include="'templates/_nav.html'"></div>

<h1 class="text-center" style="color:black;" ng-bind="vm.titulo"></h1><br>
<!-- <teste></teste> -->
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                 <input type="search" class="form-control" ng-model="search.nome" name="busca" id="busca" placeholder="Digite sua busca..">
            </div>
        </div> 
        <div class="col-md-12">
            <!-- <div>{{}}</div> -->
                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Nota1</th>
                                <th>Nota2</th>
                                <th>Nota3</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr ng-repeat="nt in vm.alunos">
                                        <td>{{nt.nome}}</td>
                                        <td>{{nt.email}}</td>
                                        <td>{{nt.nota1}}</td>
                                        <td>{{nt.nota2}}</td>
                                        <td>{{nt.nota3}}</td>
                                        <td>
                                            <button class="btn btn-secondary btn-sm">Editar</button> 
                                            <button class="btn btn-secondary btn-sm">Excluir</button>
                                        </td>
                                     
                        </tbody>
                    </table>
                    
                    <!-- <div>{{bod}}</div> -->
        </div>
        <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Adicionar</button>                
        </div>
       <div ng-include="'/templates/Modal/Modal-Add-Notas.html'"></div>
       <div ng-include="'/templates/Modal/Modal-Edit-Notas.html'"></div>